
.special{
	width: 400px;
	font-size: 60px;
}
.top{
	margin: 200px auto 10px 50px;
	background-color: #fff3b2;
}
p{
	font-size: 20px;
}
.mobile{
	height: 450px;
}
.wrriten{
	width: 200px;
	height: 450px;
}
.one{
	position: absolute;
	top: 10px;
}
.Channel{
	float: right;
	position: absolute;
	top: 5px;
	right: 90px;
	font-size: 17px;
}
.contact{
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
	background-color: gold;
	position: absolute;
	right:450px;
}
.lower{
	background-color: #65d6ce;
	position: absolute;
	top: 990px;
	right: 80px;
	left: 80px;
	height: 100px;
}
.first{
	position: absolute;
	left: 80px;
}
.second{
	position: absolute;
	left: 50px;
	top:50px;
}